In [15]:
import pandas as pd
import numpy as np
import os

In [8]:
# what are the data and the test csv files?

data_file = pd.read_csv('beijing_data/data.csv')
test_file = pd.read_csv('beijing_data/test.csv')

In [5]:
data_file.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-07-02,183.820007,187.300003,183.419998,187.179993,182.199005,17731300
1,2018-07-03,187.789993,187.949997,183.539993,183.919998,179.025772,13954800
2,2018-07-05,185.259995,186.410004,184.279999,185.399994,180.466370,16604200
3,2018-07-06,185.419998,188.429993,185.199997,187.970001,182.967972,17485200
4,2018-07-09,189.500000,190.679993,189.300003,190.580002,185.508545,19756600

In [10]:
test_file.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-07-02,43.060001,45.000000,42.750000,44.980000,44.980000,16703600
1,2018-07-03,45.360001,45.480000,43.799999,43.889999,43.889999,14237500
2,2018-07-05,44.070000,45.110001,43.549999,45.060001,45.060001,16172000
3,2018-07-06,44.910000,46.750000,44.610001,46.650002,46.650002,23740700
4,2018-07-09,46.740002,46.900002,42.080002,44.139999,44.139999,107582400

In [9]:
data_file.shape, test_file.shape

((503, 7), (503, 7))

In [13]:
test_file.columns, data_file.columns

(Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object'),
 Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object'))

In [14]:
# Take a look at the proper data files, not sure what exactly these things are

In [17]:
all_data_files = os.listdir('beijing_data/PRSA_Data_20130301-20170228')
all_data_files

['PRSA_Data_Dingling_20130301-20170228.csv',
 'PRSA_Data_Aotizhongxin_20130301-20170228.csv',
 'PRSA_Data_Wanliu_20130301-20170228.csv',
 'PRSA_Data_Changping_20130301-20170228.csv',
 'PRSA_Data_Guanyuan_20130301-20170228.csv',
 'PRSA_Data_Huairou_20130301-20170228.csv',
 'PRSA_Data_Tiantan_20130301-20170228.csv',
 'PRSA_Data_Wanshouxigong_20130301-20170228.csv',
 'PRSA_Data_Shunyi_20130301-20170228.csv',
 'PRSA_Data_Dongsi_20130301-20170228.csv',
 'PRSA_Data_Nongzhanguan_20130301-20170228.csv',
 'PRSA_Data_Gucheng_20130301-20170228.csv']

In [19]:
Dingling_data = pd.read_csv('beijing_data/PRSA_Data_20130301-20170228/PRSA_Data_Dingling_20130301-20170228.csv')

In [21]:
Dingling_data.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,3.0,NaN,200.0,82.0,-2.3,1020.8,-19.7,0.0,E,0.5,Dingling
1,2,2013,3,1,1,7.0,7.0,3.0,NaN,200.0,80.0,-2.5,1021.3,-19.0,0.0,ENE,0.7,Dingling
2,3,2013,3,1,2,5.0,5.0,3.0,2.0,200.0,79.0,-3.0,1021.3,-19.9,0.0,ENE,0.2,Dingling
3,4,2013,3,1,3,6.0,6.0,3.0,NaN,200.0,79.0,-3.6,1021.8,-19.1,0.0,NNE,1.0,Dingling
4,5,2013,3,1,4,5.0,5.0,3.0,NaN,200.0,81.0,-3.5,1022.3,-19.4,0.0,N,2.1,Dingling

In [20]:
Dingling_data.shape

(35064, 18)

In [22]:
# The shape agrees with what's mentioned in the paper